= content_for :javascript do
  :javascript
    $(function () {
      $('#picture_file').fileupload({
          dataType: 'json',
          url: $('form').attr('action')+'.json',
          done: function (e, data) {
              $.each(data.result, function (index, file) {
                  $('<p/>').text(file.name).appendTo(document.body);
              });
          }
      });
    });


= form_for @picture do |f|
  -if @picture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@picture.errors.count, "error")} prohibited this picture from being saved:"
      %ul
        - @picture.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :file
    = f.file_field :file
  .actions
    = f.submit 'Save'
